#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: #cdcbcb; */
}

main{
  flex: 1;
}

.header{
  background: #55d77a;
  color: white;
  padding: 10px;
}

footer{
  background: #55d77a;
  color: white;
  padding: 10px;
}